


/* Website Theme*/
:root{
    --main-color-1:#93BF50;
    --main-color-2:#F2B705;
    --main-color-3:#D97904;
    --main-color-4:#D92B04;
    --main-color-5:#8C0E03;
    --section-padding: 7rem;
    --text-color:rgba(235, 233, 235, 0.897);
    --text-color2:rgba(22, 29, 23, 0.904);
    
}

body.stopScrolling{
    height: 100%;
    overflow: hidden;
}
/* General Style*/
*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body.open .overlay{
    opacity: 1;
    pointer-events: auto;
}
.overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    z-index: 9;
    opacity: 0;
    transition: 0.3s;
    pointer-events:none;
}

/* Navbar Style*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.container{
    position: relative;
    width: 100%;
    max-width: 75rem;
    padding: 0 1.5rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1.5rem;
    
    
}

header .logo{
    width: 40%;
    height: 10%;
    font-size: 1.5rem;
    font-family:'Times New Roman', Times, serif;
    color: var(--text-color);
    background-color: var(--main-color-4);
    padding: 15px;
    text-decoration: none;
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 15%;
    box-shadow: 3px 4px 21px -7px rgba(66, 68, 90, 1);

}
.links{
    width: 100%;
    flex-basis: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.3s;
    background-color: var(--main-color-1);
    z-index: -1;
    transition: 0.4s;
}
.links ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    list-style: none;
    padding-top: 1.5rem;
}
.links ul li{
    padding: 1.5rem;
    z-index: -1;
}
.links ul a{
    font-size: 1.7rem;
    text-decoration: none;
    color: var(--text-color2);
   
}

body.open .links{
    opacity: 1;
}

.hamburger{
    display: block;
    padding: 1rem 0;
    height: 12px;
    width: 25px;
    box-sizing: content-box;
    cursor: pointer;
    position: relative;

}
.hamburger .bar{
    width: 100%;
    height: 3px;
    background-color: var(--main-color-4);
    border-radius: 3px;
    position: absolute;
}
.hamburger .bar:first-child{
    top: 1rem;
    transition: top 0.2s 0.15s, transform 0.3s;
}
.hamburger .bar:last-child{
    bottom: 1rem;
    transition: bottom 0.2s 0.15s, transform 0.3s;
}

body.open .hamburger .bar:first-child{
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    transition: top 0.2s, transform 0.3s 0.1s;
}

body.open .hamburger .bar:last-child{
    bottom: 50%;
    transform: translateY(50%) rotate(45deg);
    transition: bottom 0.2s, transform 0.3s 0.1s;
}


/* Main Style*/
main img{
    height: 120%;
}
main .view-show{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
}
.view-show .container{
    position: absolute;
    top: 30%;
    left: 0px;
    justify-content: center;
}
.search{
    display: flex;
    justify-content: space-between;
    justify-items:center ;
    width: 80%;
    background-color: antiquewhite;
    padding: 5px;
    border: solid var(--main-color-4) 2px;
    border-radius: 25px;
    z-index: 11;
    transition: 0.4s;
}
body.open .search{
    z-index: 0;
}
.search input{
    display: inline-block;
    width: 80%;
    height: 2.5rem;
    border: none;
    border: solid black 1px;
    border-radius: 25px;

}
.search .button-search{
    height: 2.5rem;
    border-radius: 25px;

}
.search input::placeholder{
    text-align: center;
}
.search i{
    margin-right: 1rem;
    font-size: 1.9rem;
    border-radius: 50%;
    color: var(--main-color-3);
    box-shadow: 3px 4px 21px -7px rgba(66, 68, 90, 1);
    text-decoration: none;
}
.news{
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 25px;
    width:100%;
    height: 30%;
}
.news .images-news{
    overflow: hidden;
    display: block;
    cursor: pointer;
    border-radius: 15px;
}
.images-news img{
    width: 105%;
}
.news .img-btn{
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}

.claster-container{
    display: grid;
    grid-template-columns: 90px 90px 90px;
    grid-template-rows: 90px 90px;
    row-gap: 100px;
    column-gap: 2.5rem;
    margin-top: 2.5rem;
}
.squer{
    background-color: var(--main-color-2) ;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s transform;
    border-radius: 25px;
    box-shadow: 3px 4px 21px -7px rgba(66, 68, 90, 1);
}

.squer a{
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
}